{% extends 'system/base.html' %} {% block content %}

<body>


<!-- Pre-loader start -->
<div class="theme-loader">
<div class="ball-scale">
<div class="contain">
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
</div>
</div>
</div>


<div class="pcoded-content">
<div class="pcoded-inner-content">
<div class="main-body">
<div class="page-wrapper">
<div class="page-body">

<div class="card" data-aos="fade-up" data-aos-duration="1000">
<div class="card-block caption-breadcrumb">
<div class="breadcrumb-header">
<h5 class="font-weight-bold mb-3">Task List <i class="fa fa-list"></i></h5> <span style="opacity: 0.5">Every Task added in the form gets listed down below</span>
</div>
{% include 'system/messages.html' %}
<div class="page-header-breadcrumb">
<ul class="breadcrumb-title">
<li class="breadcrumb-item">
<a href="{% url 'dashboard' %}" data-toggle="tooltip" data-placement="top" title="Go to homepage" > <i class="feather icon-home"></i> </a>
</li>
<li class="breadcrumb-item"><a href="">Manage Task</a>
</li>
<li class="breadcrumb-item"><a href="{% url 'quotation-create' %}">Add Task</a>
</li>
</ul>
</div>
</div>
<div class="card-header">
<div class="card-block">
<div class="col">








<div class="dt-responsive table-responsive">
<table id="simpletable" class="table table-striped table-bordered nowrap">
<thead>
<tr>
<th scope="col" >Task No <i class="feather icon-hash"></i></th>
<th scope="col">Work of scope <i class="fas fa-solid fa-parachute-box"></i></th>
<th scope="col">Employees Name <i class="feather icon-user"></i></th>
<th scope="col">Status <i class="feather icon-help-circle"></i></th>
<th scope="col">Send Email <i class="feather icon-mail"></i></th>
<th scope="col">View <i class="feather icon-eye"></i></th>



</tr>
</thead>
<tbody id="myTable">

<tr>
{% for quotation in quotation %}
<td>{{quotation.quotation_number}}</td>
<td>{% for area in quotation.work_of_scope.all %}{{ area.name }}

  <br/>{% endfor %}</td>

<td>{{quotation.customer.customer_name}}</td>
<td>{{quotation.status}}</td>


<td data-toggle="tooltip" data-placement="left" title="Send Email by clicking the icon. "><a href="{% url 'email_page' quotation.id %}" class=""><i class="feather icon-mail"></i></a></td>
<td data-toggle="tooltip" data-placement="left" title="View Task in detail."><a href="{% url 'quotation_detail' quotation.id %}" class=""><i class="fas fa-eye"></i></a></td>



</tr>
{% endfor%}



</tbody>
</table>

</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>

</div>

{% endblock %}
