asgiref==3.4.1

bleach==4.1.0
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.12
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.9
django-airports==1.0.3
django-cities==0.6
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-filter==21.1
django-heroku==0.3.1
django-js-asset==1.2.2
django-model-utils==4.2.0
django-nepali-datetime-field==0.5
django-safedelete==1.1.2
django-summernote==0.8.20.0
django-tinymce==3.4.0
django-widget-tweaks==1.4.9
easyimap==0.7.0
filelock==3.6.0
flake8==4.0.1
gunicorn==20.1.0
identify==2.4.12
idna==3.3
mccabe==0.6.1
nepali-datetime==1.0.7
nodeenv==1.6.0
packaging==21.3
Pillow==8.4.0
platformdirs==2.5.2
pre-commit==2.18.1
psycopg2==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
pytz==2021.3
PyYAML==6.0
requests==2.27.1
send-email==201212
six==1.16.0
sqlparse==0.4.2
swapper==1.3.0
toml==0.10.2
tqdm==4.63.0
urllib3==1.26.9
virtualenv==20.14.1
webencodings==0.5.1
whitenoise==6.2.0
