 {% load static %}
   <!--Main layout-->
   <!-- MDB -->
<!--   <script quotation_type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>-->
<!--   &lt;!&ndash; Custom scripts &ndash;&gt;-->
   <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\jquery\js\jquery.min.js' %}"
   ></script>
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\jquery-ui\js\jquery-ui.min.js' %}"
   ></script>
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\popper.js\js\popper.min.js' %}"
   ></script>
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\bootstrap\js\bootstrap.min.js' %}"
   ></script>
   <!-- jquery slimscroll js -->
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\jquery-slimscroll\js\jquery.slimscroll.js' %}"
   ></script>
   <!-- modernizr js -->
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\modernizr\js\modernizr.js' %}"
   ></script>
   <script type="text/javascript" src="{%static 'libraries\bower_components\modernizr\js\css-scrollbars.js' %}"></script>
   <!-- Chart js -->
   <script
   type="text/javascript"
   src="{% static 'libraries\bower_components\chart.js\js\Chart.js' %}"
   ></script>
   <!-- amchart js -->
   <script src="{% static 'libraries\assets\pages\widget\amchart\amcharts.js' %}"></script>
   <script src="{% static 'libraries\assets\pages\widget\amchart\serial.js' %}"></script>
   <script src="{% static 'libraries\assets\pages\widget\amchart\light.js' %}"></script>
   <script src="{% static 'libraries\assets\js\jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script
   type="text/javascript"
   src="{% static 'libraries\assets\js\SmoothScroll.js' %}"
   ></script>
   <script src="{% static 'libraries\assets\js\pcoded.min.js' %}"></script>
   <!-- custom js -->
   <script src="{% static 'libraries\assets\js\vartical-layout.min.js' %}"></script>
   <script
   type="text/javascript"
   src="{% static 'libraries\assets\pages\dashboard\custom-dashboard.js/' %}"
   ></script>
   <script
   type="text/javascript"
   src="{% static  'libraries\assets\js\script.min.js' %}"
   ></script>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script
   async=""
   src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
   ></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
   dataLayer.push(arguments);
   }
   gtag("js", new Date());

   gtag("config", "UA-23581568-13");
   </script>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


   <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js">

   </script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script>
  AOS.init();
</script>
<!-- Select 2 js -->
<script type="text/javascript" src="{% static 'libraries\bower_components\select2\js\select2.full.min.js' %}"></script>
<!-- Multiselect js -->
<script type="text/javascript" src="{% static 'libraries\bower_components\bootstrap-multiselect\js\bootstrap-multiselect.js' %}">


</script>
<script type="text/javascript" src="{% static 'libraries\bower_components\multiselect\js\jquery.multi-select.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries\assets\js\jquery.quicksearch.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries\assets\pages\advance-elements\select2-custom.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries\bower_components\i18next\js\i18next.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries\bower_components\i18next-xhr-backend\js\i18nextXHRBackend.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'libraries\bower_components\i18next-browser-languagedetector\js\i18nextBrowserLanguageDetector.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries\bower_components\jquery-i18next\js\jquery-i18next.min.js' %}"></script>

<script src="{% static 'libraries\bower_components\datatables.net\js\jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libraries\bower_components\datatables.net-buttons\js\dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libraries\assets\pages\data-table\js\jszip.min.js' %}"></script>
<script src="{% static 'libraries\assets\pages\data-table\js\pdfmake.min.js' %}"></script>
<script src="{% static 'libraries\assets\pages\data-table\js\vfs_fonts.js' %}"></script>
<script src="{% static 'libraries\bower_components\datatables.net-buttons\js\buttons.print.min.js'   %}"></script>
<script src="{% static 'libraries\bower_components\datatables.net-buttons\js\buttons.html5.min.js'  %}"></script>
<script src="{% static 'libraries\bower_components\datatables.net-bs4\js\dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libraries\bower_components\datatables.net-responsive\js\dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libraries\bower_components\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js' %}"></script>
   <script src="{% static 'libraries\assets\pages\data-table\js\data-table-custom.js' %}"></script>
   <script type="text/javascript" src="{% static 'libraries\assets\js\bootstrap-growl.min.js' %}"></script>


<script type="text/javascript" src="{% static 'libraries\assets\pages\notification\notification.js' %}"></script>

<script type="text/javascript" src="{% static 'libraries\bower_components\bootstrap-tagsinput\js\bootstrap-tagsinput.js' %}"></script>
</script>

    <script src="{% static 'libraries\assets\pages\data-table\extensions\buttons\js\dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libraries\assets\pages\data-table\extensions\buttons\js\buttons.flash.min.js'  %}"></script>
    <script src="{% static 'libraries\assets\pages\data-table\extensions\buttons\js\jszip.min.js' %}"></script>
    <script src="{% static 'libraries\assets\pages\data-table\extensions\buttons\js\vfs_fonts.js' %}"></script>
    <script src="{% static 'libraries\assets\pages\data-table\extensions\buttons\js\buttons.colVis.min.js' %}"></script>

  <script src="{%static 'libraries\assets\pages\data-table\extensions\buttons\js\extension-btns-custom.js' %}"></script>


<!--[if lte IE 7]>
    <script src="https://raw.github.com/mattpowell/localstorageshim/master/localstorageshim.min.js" type="text/javascript"></script>
<![endif]-->

<script src="{% static 'js/garlic.js' %}"></script>