{% extends 'system/base.html' %} {% block content %}

<body>

<!-- Pre-loader start -->
<div class="theme-loader">
<div class="ball-scale">
<div class="contain">
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
</div>
</div>
</div>


<div class="pcoded-content">
<div class="pcoded-inner-content">
<div class="main-body">
<div class="page-wrapper">
<div class="page-body">


<div class="card" data-aos="fade-up" data-aos-duration="1000">
<div class="card-block caption-breadcrumb">
<div class="breadcrumb-header">
<h5>Salary  List <i class="fa fa-book" aria-hidden="true"></i></h5>
<span style="opacity: 0.6;">Payroll created by admin are listed down</span>
</div>

<div class="page-header-breadcrumb">
<ul class="breadcrumb-title">
<li class="breadcrumb-item">
<a href="{% url 'dashboard' %} " data-toggle="tooltip" data-placement="top" title="Go to homepage"> <i class="feather icon-home"></i> </a>
</li>
<li class="breadcrumb-item"><a href="">Manage Payroll</a>
</li>


</ul>
</div>
</div>
<div class="card-header">
<div class="card-block">
<div class="col">



{% include 'system/messages.html' %}



<div class="dt-responsive table-responsive" >

<table id="simpletable" class="table table-striped table-bordered nowrap ">

<thead>
<tr>

<th scope="col">Salary Amount <i class="feather icon-help-circle"></i></th>
<th  scope="col">User <i class="feather icon-mail"></i></th>
  <th  scope="col">Release Date <i class="feather icon-mail"></i></th>
<th  scope="col">Edit <i class="fas fa-edit"></i></th>
<th  scope="col">Delete <i class="fas fa-trash"></i></th>

<!--  {% if  quotation.jobs.status == 'Job Booking Email Sent' %}-->
<!--<th data-toggle="tooltip" data-placement="top" title="Job Numbers are illustrated here" scope="col">Create AirwayBill <i class="feather icon-mail"></i></th>-->
<!--{% else  %}-->
<!--  <th data-toggle="tooltip" data-placement="top" title="Job Numbers are illustrated here" scope="col">Send Email <i class="feather icon-mail"></i></th>-->
<!--  {% endif %}-->
</tr>
</thead>
<tbody>
<tr>
{% for bonus in salary %}
<td>{{bonus.salary_amount}}</td>
<td>{{bonus.user}}</td>
  <td>{{bonus.release_date}}</td>
<td data-toggle="tooltip" data-placement="left" title="Edit by clicking the icon. "><a  href="{% url 'update_salary' bonus.id %}"><i class="fas fa-edit"></i></a></td>
<td data-toggle="tooltip" data-placement="left" title="Delete by clicking the icon."><a href="{% url 'delete_salary' bonus.id %}" class=""><i class="fas fa-trash"></i></a></td>


</tr>
{% endfor%}

</tbody>
</table>

</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>

</div>


{% endblock %}