        {% extends 'system/base.html' %} {% block content %} {% load widget_tweaks %} {% load crispy_forms_tags %}
        {% load static %}



        <body>
        <!-- Pre-loader start -->
        <div class="theme-loader">
        <div class="ball-scale">
        <div class="contain">
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        <div class="ring">
        <div class="frame"></div>
        </div>
        </div>
        </div>
        </div>
        <div class="pcoded-content">
        <div class="pcoded-inner-content">
        <div class="main-body">
        <div class="page-wrapper">
        <div class="page-header">
        <div class="row  ">
        <div class="card">
        <div class="card-block caption-breadcrumb">
        <div class="breadcrumb-header">
        <h4 class="font-weight-bold mb-3">User Form <i class="fa fa-users" aria-hidden="true"></i>
        </h4>
        <span style="opacity: 0.6;">Add your user form, it will be listed in the users list</span>
        </div>
        <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}" data-toggle="tooltip" data-placement="top"
        title="Go to homepage"> <i class="feather icon-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="">Manage User</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'user_list' %}">User List</a>
        </li>
        </ul>
        </div>
        <h1 class="text-uppercase text-center text-white mb-5"></h1>
        <div class="card-block">
        {% for hidden_field in form.hidden_fields %} {{ hidden_field }} {% endfor %}
        <form action="" method="POST" class="row g-3">
        {% csrf_token %}
        <div class="form-row">
        <div class="col-md-5"  data-toggle="tooltip" data-placement="top"
        title="Enter email address">
        Email <i class="fa fa-envelope"></i>
        {% render_field form.email  class="form-control" placeholder="Enter your email address" %}
        </div>



        <div class="col-md-5" data-toggle="tooltip" data-placement="top"
        title="Add username " style="margin-left:80px;">

        Username <i class="fa fa-user" aria-hidden="true"></i>
        {% render_field form.username class="form-control" placeholder="Enter your username" %}
        {% if form.username.errors %}

        <div class="alert alert-danger" role="alert">{{ form.username.errors}}</div>

        {% endif %}
        </div>
        </div>



        <br />
        <div class="form-row">
        <div class="col-md-5" data-toggle="tooltip" data-placement="top"
        title="Select Roles">
        Role <i class="feather icon-users"></i>
        {% render_field form.roles  class="js-example-basic-single" style="height:37px"  %}
        </div>

        <div class="col" data-toggle="tooltip" data-placement="top"
        title=" User more than 8 words & Use numbers and symbols"
        style="margin-left:80px;">
        Password <i
        class="fa fa-star"></i>{% render_field form.password1 class="form-control col-md-10" style="height:37px" placeholder="Enter Password" %}
        </div>
        </div>
        <div class="form-row">
        <div class="col-md-5" data-toggle="tooltip" data-placement="top"
        title="Enter similar password">
        Confirm Password <i class="fa fa-star" aria-hidden="true"></i>
        {% render_field form.password2  class="form-control" placeholder="Confirm Your Password" style="height:37px"  %}
        {% if form.password2.errors %}

        <div class="alert alert-danger" role="alert">{{ form.password2.errors}}</div>

        {% endif %}
        </div>
        </div>


        <div class="col" style="margin-left:80px;">
        </div>
        </div>
        <div class="d-flex justify-content-center">
        <button type="submit" style="background-color:#353c4e"
        class="btn btn-primary hvr-pulse"><i
        class="fas fa-step-forward"></i>Continue</button>
        </div>
        </div>
        </div>
        <div class="col-sm-7">
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small> {% endif %}
        </div>
        <br>
        </form>
        </div>
        </div>
        <script>
        // Self-executing function
        (function () {
        'use strict';
        window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
        });
        }, false);
        })();
        </script>
        </body>
        {% endblock %}
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
